@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is a Course Application website. You can add students, courses, educators. Students can apply courses
        view other appliers, see their details and delete their application. Courses have educators and a educator
        can give multiple courses.
    </p>
</div>



