@model Student

@{
    ViewData["Title"] = "Create Student";
}

<h1 style="color:yellowgreen;">Öğrenci Ekle</h1>
<hr>

<div class="row">
    <div class="col-8">
        <form asp-controller="Student" asp-action="CreateStudent" method="post">
            <div asp-validation-summary="All"></div>
            <div class="mb-3 w-50">
                <label asp-for="StudentFirstName" class="form-labe"></label>
                <input asp-for="StudentFirstName" class="form-control">
            </div>
            <div class="mb-3 w-50">
                <label asp-for="StudentLastName" class="form-label"></label>
                <input asp-for="StudentLastName" class="form-control">
            </div>
            <div class="mb-3 w-50">
                <label asp-for="StudentEmail" class="form-label"></label>
                <input asp-for="StudentEmail" class="form-control">
            </div>
            <div class="mb-3 w-50">
                <label asp-for="StudentPhone" class="form-label"></label>
                <input asp-for="StudentPhone" class="form-control">
            </div>
        
            <button type="submit" class="btn btn-outline-success">Kaydet</button>
        </form>
    </div>
    <div class="col-4"></div>
</div>
