@model CourseViewModel

@{
    ViewData["Title"] = "Edit Course";
}

<h1 style="color:blue;">Kurs Bilgisi Düzenle</h1>
<hr>

<div class="row">
    <div class="col-8">
        <form asp-controller="Course" asp-action="EditCourse" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="CourseId">
            <div asp-validation-summary="All"></div>
            <div class="mb-3 w-50">
                <label asp-for="CourseName" class="form-labe"></label>
                <input asp-for="CourseName" class="form-control">
            </div>
            <div class="mb-3 w-50">
                <label asp-for="EducatorId" class="form-label"></label>
                <select asp-for="EducatorId" class="form-select" asp-items="ViewBag.Educators">
                    <option value="">Seçiniz</option>
                </select>
            </div>
            <div class="input-group mb-3 w-50">
                <input type="file" name="ImageFile" id="ImageFile" class="form-control">
            </div>
            <div class="input-group mb-3 w-50">
                <img src="~/img/@Model.CourseImage" alt="" style="width: 100px;">
                <input type="hidden" asp-for="@Model.CourseImage">
            </div>
            <button type="submit" class="btn btn-sm btn-outline-success">Kaydet</button>
            <a asp-controller="Course" asp-action="Index" class="btn btn-sm btn-outline-danger">İptal</a>
        </form>
    </div>
    <div class="col-4"></div>
</div>
